* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.cont {
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    display: flex;
    background-color: #253343;
    padding: 18px;
    justify-content: space-between;
}

a {
    color: white;
}

.title {
    font-size: 34px;
}

.menu_bar {
    font-size: 28px;
}

.menu_bar ul {
    display: flex;
}

.menu_bar ul li {
    margin-left: 2em;
}